{% extends "base.html" %}

{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}
{% block description %}{{ article.description }}{% endblock %}

{% block site_navigation %}
<nav aria-label="Navigate back">
  <a class="nav--back" href="/blog" title="Navigate back">&#171</a>&nbsp;/&nbsp;
  <!-- <a class="no-underline nav--back-alphabets" href="/blog" title="Back to Blog page">Blog</a> -->
</nav>
{% endblock %}

{% block content %}
<section class="blog">
  <h2 class="blog--h">{{ article.title }}</h2>
  <small>Written on <time datetime="{{ article.date.strftime('%Y-%m-%d') }}">{{ article.date.strftime('%Y-%m-%d') }}</time></small>
  <article>
    {{ article.content }}
  </article>
  <aside>
    <br />
    {% if article.tags %}
      <p>Tags: {% for tag in article.tags[:-1] %}
        {{ tag | escape }}, {% endfor %}
        {{ article.tags[-1] | escape }}
      </p>
    {% endif %}
  </aside>
</section>
{% endblock %}

