<!DOCTYPE html>
<html class="dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {% block site_title %}
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta property="og:title" content="{{ self.title() }}">
    {% endblock %}

    {% block site_description %}
    <meta name="description" content="{% block description %}{{ SITEDESCRIPTION }}{% endblock %}" />
    <meta property="og:description" content="{{ self.description() }}">
    {% endblock %}

    <meta name="author" content="Natch Khongpasuk" />

    {% include 'style.html' %}
    {% block style %}{% endblock %}
  </head>

  <body>
    {# include 'nav.html' #}
    {% block site_navigation %}
      {% if output_file != 'index.html' %}
        <nav class="nav--back" aria-label="Navigate back">
          <a href="/" title="Back to Homepage">&#171</a>
        </nav>
      {% endif %}
    {% endblock %}
    <main>
      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      <hr />
      <p class="footer--text">
        <span><a class="no-underline" href="/">knatch.me</a> @ <span id="current_year">2021</span></span>
        <!-- <a href="https://www.linkedin.com/in/natch-khongpasuk-4026b8b9/" target="_blank" rel="noopener" title="Linkedin link">Linkedin</a> -->
        <a class="no-underline" title="Clicking this will open your email client of choice. Sorry about that." href="mailto:natch.kh@gmail.com">natch.kh@gmail.com</a>
      </p>
    </footer>
  </body>

  <script>
    const currentYear = new Date().getFullYear();
    document.getElementById('current_year').innerHTML = currentYear;
  </script>
</html>
