{% extends "base.html" %}

{% block title %}Blog | {{ SITENAME }}{% endblock %}
{% block description %}A normal blog list page in a perfectly normal website created by Natch Khongpasuk{% endblock %}

{% block content %}
<section class="page">
  <h1 class="page--h">Blog</h1>
  
    {% if articles %}
        {% for article in articles_page.object_list %}
            {# if article.category == 'blog' #}
            <section>
                <ul class="blog--list">
                    <li class="blog--li-flex">
                        <a class="blog--title" href="{{ SITEURL }}/{{ article.url }}">
                            <span class="entry-title">{{ article.title }}</span>
                        </a>
                        <a class="no-underline blog--date" href="{{ SITEURL }}/{{ article.url }}">
                            <span><time datetime="{{ article.date.strftime('%Y-%m-%d') }}">{{ article.date.strftime('%Y-%m-%d') }}</time></span>
                        </a>
                        <!-- {{ article.description }} -->
                    </li>
                </ul>
            </section>
            {# endif #}
        {% endfor %}
    {% endif %}
</section>
{% endblock %}


{% if articles %}
    {% for article in articles_page.object_list %}

        {# First item #}
        {% if loop.first and not articles_page.has_previous() %}
            <aside id="featured" class="body">
                <article>
                    <h4 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" class="no-underline">{{ article.title }}</a></h1>
                    <!-- {{ article.content }} -->
                </article>
            </aside><!-- /#featured -->
            {% if loop.length > 1 %}
                <section id="content" class="body">
                    <h1>Other articles</h1>
                    <hr />
                    <ol id="posts-list" class="hfeed">
            {% endif %}
        {# other items #}
        {% else %}
            {% if loop.first %}
                <section id="content" class="body">
                    <ol id="posts-list" class="hfeed" start="{{ articles_paginator.per_page -1 }}">
            {% endif %}
            <li><article class="hentry">
                <header>
                    <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
                </header>

                <div class="entry-content">
                {{ article.summary }}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
                </div><!-- /.entry-content -->
            </article></li>
        {% endif %}
        {% if loop.last %}
            {% if loop.length > 1 or articles_page.has_other_pages() %}
                </ol><!-- /#posts-list -->
                {% if articles_page.has_other_pages() %}
                    {% include 'pagination.html' %}
                {% endif %}
                </section><!-- /#content -->
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}