{% extends "base.html" %}

{% block content %}
<header class="header">
  <h1 class="header--h"><a href="/" title="Home">Natch Khongpasuk</a></h1>
  <span class="header--description">Software engineer</span>
</header>

<nav id="main-nav" aria-label="Main">
  <!-- list of links to main website locations -->
  <ul>
    <li>
      <a href="/blog" title="Navigate to Blog page">Blog</a>
    </li>
    <li>
      <a href="/now" title="Now page">Now</a>
    </li>
    <li>
      <a href="/reference" title="Reference page">Reference</a>
    </li>
    <li>
      <a href="/quotes" title="Quotes page">Quotes</a>
    </li>
    <li>
      <a href="https://github.com/knatch/"  target="_blank" rel="noopener" title="Navigate to Natch's Github page">Github</a> / <a href="https://gitlab.com/knatch/"  target="_blank" rel="noopener" title="Navigate to Natch's Gitlab page">Gitlab</a>
    </li>
    <!-- <li>
      <a href="https://www.linkedin.com/in/natch-khongpasuk" title="Navigate to Natch Khongpasuk's Linkedin Page" target="_blank" rel="noopener">Hire me</a>
    </li> -->
  </ul>
</nav>

<article>
  <section>
    <p>
      Sawasdee! (Hi, but in Thai)
      <br /><br />
      Here, you will find things I write and share – id est <a href="/blog" title="Navigate to Blog page">career journal blog</a><!-- , <a href="/projects" title="Navigate to Projects page">projects</a> --> and other miscellany. <s>I keep a list of what I am currently up to in my <a href="/now" title="Navigate to Now page">now page</a></s> I'm not anymore.
      <br /><br />
      I specialised in software development with wide range of experience in full-stack development, project management and devops practices. Whilst I am not in front of a terminal or an IDE, I can be found outside running, cycling around on my fixie or taking random street pictures.
      <br /><br />
      This site is written by me and made with <a href="https://blog.getpelican.com/" target="_blank" rel="noopener">Pelican</a> static site generator with a custom theme, powered by Python. The site is hosted on <a href="https://about.gitlab.com/stages-devops-lifecycle/pages/" target="_blank" rel="noopener">Gitlab Pages</a>, built and deployed via <a href="https://docs.gitlab.com/ee/ci/" target="_blank" rel="noopener">Gitlab CD/CI</a>.
    </p>
  </section>
</article>
{% endblock %}