{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block content %}
<section class="page">
  <h1 class="page--h">{{ page.title }}</h1>
  <p>
    {{ page.content }}
  </p>
</section>
{% endblock %}
