{% extends "base.html" %}

{% block title %}Projects Page | {{ SITENAME }}{% endblock %}
{% block description %}Works/Projects page keeps a list of projects I work on (and would like to share to the Internet){% endblock %}

{% block content %}
<section class="page">
  <h1 class="page--h">Projects</h1>
  
    {% if articles %}
        {% for article in articles_page.object_list %}
            {% if article.category != 'blog' %}
            <section>
                <ul class="blog--list">
                    <li class="blog--li-flex">
                        <a href="{{ SITEURL }}/{{ article.url }}">
                            <span class="entry-title">{{ article.title }}</span>
                        </a>
                        <!-- {{ article.description }} -->
                    </li>
                </ul>
            </section>
            {% endif %}
        {% endfor %}
    {% endif %}
</section>
{% endblock %}